.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header{
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  margin: 0;
  padding: 0;
  background-color:  #f2f2f2;
  z-index: -3;
}
.logo {
  width: 228px;
  height: 32px;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}
.header__title{
  align-self: center;
  margin-left: 64px;
  max-width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
}
.header__subtitle{
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  position: absolute;
  min-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 30px;
}
.header__link{
  text-decoration: none;
  color: #2f80ed;
}
.header__main-illustration{
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: -1;
}
.header__square-pic{
  position: absolute;
  top: 64px;
  right: 0px;
  width: 568px;
  height: 568px;
  z-index: -2;
  background-color: #2f80ed;
}
.description{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.two-columns{
  display: flex;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: space-between;
}
.two-columns__brief{
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  max-width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}
.two-columns__main-text{
  display: flex;
  width: 80%;
  min-width: 784px;
  flex-direction: column;
}
.two-columns__paragraph{
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 0;
}
.two-columns__paragraph:first-child{
  margin-bottom:30px;
}
.two-columns__paragraph:last-child{
  margin-top:30px;
}
.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
.digits{
  position: relative;
  margin-top: 0;
  padding: 0;
}
.section-title{
  margin: 0 auto 0;
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
}
.section-subtitle{
  font-size: 24px;
  width: 60%;
  text-align: center;
  font-weight: normal;
  line-height: 34px;
  margin:20px auto 0;
}
.table{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto 100px;
}
.table__cell{
  margin-top: 60px;
  width: 250px;
}
.table__heading{
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin-top: 0;
  margin-bottom: 0;
}
.table__text{
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 0;
}
.feynman{
  position: relative;
  min-height: 890px;
  margin: 0;
  padding: 0;
  background-color:  #f2f2f2;
  z-index: -2;
}
.feynman__title{
  max-width: 648px;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  margin: 100px auto 0;
  text-align: center;
}
.feynman__subtitle{
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  margin-top: 70px; 
}
.feynman__link{
  position: absolute;
  right: 48px;
  top: 50%;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
}
.feynman__img{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: -1;
}
.kaufman{
  background-color: #1f1f1f;
  z-index: -3;
  position: relative;
  overflow: hidden;
  color: white;
  margin: 0;
  padding: 0;
}
.section-title_theme_dark{
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  text-align: center;
  margin: 90px auto 0;
}
.section-subtitle_theme_dark{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin: 20px auto 0;
}
.table_theme_dark{
  margin: 0 auto 90px;
}
.table__cell_theme_dark{
  width: 200px;
  margin-top: 80px;
}
.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}
.kaufman__triangle{
  position: absolute;
  z-index: -1;
  top: 0;
  right:-210px;
  height: 877px;
  width: 877px;
  background-image: url(/images/kaufman-triangle.svg);
  background-size: cover;
}
.footer{
  background-color: #1f1f1f;
  color: white;
  position: relative;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer__columns{
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  min-height: 250px;
}
.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__author{
  margin-left: 0;
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}
.footer__column-heading{
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}
.footer__column-links{
  margin-top:20px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.footer__social-icon{
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
.footer__column-link{
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
  color: white;
}
